/*美化滚动条*/
/* 定义滚动条的宽度和颜色 */
::-webkit-scrollbar {
    width: 10px;
}

/* 定义滚动条上滑块的样式 */
::-webkit-scrollbar-thumb {
    background-color: #d2d2d2;
    border-radius: 5px;
}

/* 定义滚动条上滑块在hover状态下的样式 */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* 定义滚动条上轨道的样式 */
::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

/* 定义滚动条上轨道在hover状态下的样式 */
::-webkit-scrollbar-track:hover {
    background-color: #ccc;
}